#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

label {
  display: flex;
  justify-content: space-between;
}

input[type=submit] {
  padding:10px 60px; 
  background:#628ff1; 
  border: none;
  cursor:pointer;
  border-radius: 25px; 
  color: white;
  font-family: Arial;
  font-weight: 700;
}

.divSubmit {
  margin: 10px;
  margin-left: auto;
}
